<article id="echo-introduction">
    <section id="ueberall-erhaeltlich" class="text-section">
        <div>
            <h1>Jetzt überall erhältlich</h1>
            <h3><b>E</b>vents, <b>Ch</b>ristian, <b>O</b>verview</h3>
            <div class="link-tree">
                <a class="button" target="_blank"
                   href="https://apps.apple.com/de/app/echo-christlicher-kalender/id1555947372"><img
                        src="../../img/icons/appStore.svg">AppStore</a>
                <a class="button" target="_blank"
                   href="https://play.google.com/store/apps/details?id=de.echoapp"><img
                        src="../../img/icons/googlePlay.svg">PlayStore</a>
                <a class="button" target="_blank" href="https://www.instagram.com/echo.app/"><img
                        src="../../img/icons/instagram.svg">Instagram</a>
            </div>
        </div>
    </section>
    <section id="trailer">
        <div class="video-container">
            <video src="../../video/echo_trailer.mp4" controls></video>
        </div>
    </section>
    <section id="vision" class="text-section">
        <div>
            <h1>Unsere Vision</h1>
            <!--            <ul>-->
            <!--                <li>Menschen verbinden</li>-->
            <!--                <li>Austausch zwischen Gemeinden fördern</li>-->
            <!--                <li>Überblick über christliche Events</li>-->
            <!--                <li>App deutschlandweit anbieten</li>-->
            <!--            </ul>-->
            <p>
                Die App soll als neutrales Informationstool dienen und Menschen helfen einen
                Überblick über das christliche Netzwerk in Köln zu bekommen.</p>
            <p>Unsere Vision ist es, in ganz Deutschland mit der App "ECHO" an den Start zu gehen. Wir
                wollen ein christliches Netzwerk schaffen, von dem sowohl die Gemeinden als auch der
                Einzelne an sich von profitiert, sodass mehr Menschen von Gemeinden & Veranstaltungen
                erfahren.</p>
            <!--        </div>-->
            <!--    </section>-->
            <!--    <section id="helping" class="text-section">-->
            <!--        <div>-->
            <h1>Für Gemeinden & Träger</h1>
            <p class="">
                Wenn ihr bei Echo dabei sein wollt, benötigen wir von euch lediglich eine Einverständniserklärung,
                mit der ihr uns berechtigt eure Daten, welche ihr uns zur Verfügung stellt, zu veröffentlichen.
                Weiterhin wäre es super, wenn ihr uns mit aktuellen Bildern von euch als
                Gemeinde/christlicher Träger versorgt, sodass wir euch möglichst authentisch und nahbar
                vorstellen können. Zu guter Letzt benötigen wir von euch Informationen darüber, welche
                Termine wir von euch in unserer App vorstellen dürfen, um andere Menschen dazu einladen
                zu können.<br/>
                Wenn ihr Fragen habt, schreibt uns sehr gerne unter <a href="mailto:kontakt@echoapp.de">kontakt@echoapp.de</a>
                an! Wir würden
                uns auch freuen, euch einmal persönlich kennen zu lernen (Zoom, Skype etc.).
                Euer Echo-Team</p>
        </div>
    </section>
</article>
