<div class="flex-container flex-dir-column height-100">
    <span id = "podcast-list-heading">
        <h1 class="translation">podcastoverview</h1>
        <p class="translation">Here you can find all our listed podcasts.</p>
    </span>
    <span id="podcast-list" class="width-100 grow overflow-auto"></span>
</div>
