<article>
    <section>
        <form id="modify-podcast-form" class="entity-form">
            <div class="grid-x">
                <label class="columns small-12 smedium-6">
                    <input type="text" name='title-de' required>
                    <span class="translation">Name De</span>
                </label>
                <label class="columns small-12 smedium-6">
                    <input type="text" name='title-en' required>
                    <span class="translation">Name en</span>
                </label>
            </div>
            <div class="grid-x">
                <label class="columns small-12 smedium-6">
                    <span class="translation">description De</span>
                    <textarea name='description-de' class="editor"></textarea>
                </label>
                <label class="columns small-12 smedium-6">
                    <span class="translation">description en</span>
                    <textarea name='description-en' class="editor"></textarea>
                </label>
            </div>
            <div class="grid-x">
                <input type="hidden" name="image-before" value="">
                <label class="columns small-8">
                    <span class="translation" data-translation-title="Bild">Bild</span>
                    <input id="" type="file" accept="image/*" name='image'>
                </label>
                <img id="image-preview" class="small-4 image-preview" src="https://placehold.it/180">
            </div>
            <div class="grid-x">
                <label class="columns small-12 smedium-6">
                    <input type="text" name='spotifyLink'>
                    <span class="translation">Spotify url</span>
                </label>
                <label class="columns small-12 smedium-6">
                    <input type="text" name='youtubeLink'>
                    <span class="translation">Youtube url</span>
                </label>
            </div>
            <div class="grid-x">
                <label class="columns small-12">
                    <input type="number" name='duration'>
                    <span class="translation">Duration in Minutes (per Episode)</span>
                </label>
            </div>
            <div class="grid-x">
                <label class="columns small-12 smedium-6">
                    <input type="text" name='releaseCircle-de'>
                    <span class="translation">Release Circle DE</span>
                </label>
                <label class="columns small-12 smedium-6">
                    <input type="text" name='releaseCircle-en'>
                    <span class="translation">Release Circle EN</span>
                </label>
            </div>
            <div class="grid-x">
                <button class="small-12 columns button translation">Speichern</button>
            </div>
        </form>
    </section>
</article>
