<article>
    <section id="podcast-details">
        <div class="admin-panel hidden">
            <button id="modify-podcast" class="translation">Modify</button>
            <button id="delete-podcast" class="translation">Delete</button>
        </div>
        <div class="flex-container">
            <div id="podcast-image-container">
                <img id="podcast-image">
            </div>
            <div class="grow">
                <h1 id="name"></h1>
                <span class="release-circle hide-for-small-only"></span>
                <span class="duration hide-for-small-only"></span>
            </div>
        </div>
        <div class="hide-for-smedium">
            <span class="release-circle"></span>
            <span class="duration"></span>
        </div>
        <div class="flex-container">
            <span id="social-media-container">
                <a id="spotify-link" class="hidden button" target="_blank">
                    <img src="../../img/icons/spotify.svg" alt=""/>
                    <span class="translation">Spotify</span>
                </a>
                <a id="youtube-link" class="hidden button" target="_blank">
                    <img src="../../img/icons/youtube.svg" alt=""/>
                    <span class="translation">Youtube</span>
                </a>
            </span>
        </div>
        <p id="description"></p>
    </section>
</article>
