<article>
    <section>
        <div class="admin-panel hidden">
            <button id="modify-church" class="translation">Modify</button>
            <button id="delete-church" class="translation">Delete</button>
        </div>
        <div class="flex-container">
            <h1 id="name" class="grow"></h1>
            <div id="view-calendar" class="clickable"><img class="icon" src="../../img/icons/calendar.svg"/></div>
        </div>
        <p id="description"></p>
        <div class="flex-container">
            <a id="website" class="link grow" target="_blank"></a>
            <span id="social-media-container">
                <a id="instagram-link" class="hidden" target="_blank">
                    <img src = "../../img/icons/instagram.svg" alt="Instagram"/>
                </a>
            </span>
        </div>
        <div id="places-container">
        </div>
    </section>
</article>
