#event {
  #event-name {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  #favorite {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.favorite {
  cursor: pointer;
  background-image: url("../img/icons/favorites-small.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;

  &.is-favorite {
    background-image: url("../img/icons/favorites-small-selected.png");
  }
}