#event {
  #event-name {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  #favorite {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #event-website {
    margin-bottom: 0.5rem;
    display: block;
    &::before {
      padding-right: 0.2rem;
      vertical-align: top;
      content: url('../img/icons/arrowOrange.svg');
    }
  }
}

.favorite {
  cursor: pointer;
  background-image: url('../img/icons/favorites-small.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  min-height: 24px;

  &.is-favorite {
    background-image: url('../img/icons/favorites-small-selected.svg');
    background-size: contain;
  }
}

.admin-panel {
  float: right;
  white-space: nowrap;

  button {
    cursor: pointer;
    color: #d56b52;
  }
}

.tag-panel {
  white-space: nowrap;
  overflow-x: auto;
  margin-right: 0.8rem;
  padding-top: 0.1rem;
  min-height: 2.5rem;
  .tag {
    cursor: pointer;
    border: 1px solid $greyColor;
    border-radius: 3px;
    padding: 0.3rem;
    margin-right: 0.2rem;
    font-size: 0.7em;
    color: $greyColor;
  }
}

#event-img {
  //max-width: 200px;
  //max-height: 200px;
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
