.footer {
  margin-top: 1rem;
  background-color: #fff;
  position: relative;
  width: 100vw;
  padding-top: 11px;
  padding-bottom: 12px;
  display: flex;
  z-index: 9999;

  .icon {
    cursor: pointer;
    width: 32px;
    height: 32px;

    &.home {
      background-image: url('../img/icons/home.svg');
      &.selected {
        background-image: url('../img/icons/home-selected.svg');
      }
    }
    &.calendar {
      background-image: url('../img/icons/calendar.svg');
      &.selected {
        background-image: url('../img/icons/calendar-selected.svg');
      }
    }
    &.search {
      background-image: url('../img/icons/search.svg');
      &.selected {
        background-image: url('../img/icons/search-selected.svg');
      }
    }
    &.favorites {
      background-image: url('../img/icons/favorites.svg');
      &.selected {
        background-image: url('../img/icons/favorites-selected.svg');
      }
    }
  }

  .spacer {
    flex: 65;

    &.small {
      flex: 43;
    }
  }
}
