$invalidBoxShadow: 0 0 2px 2px #ff6776;
$disabledBackgroundColor: rgb(230, 230, 230);
$inputBorderBottom: solid 1px #626262;

label {
  position: relative;

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea,
  input[type='text'],
  input:not([type]) {
    display: block;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    box-shadow: none;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    border: none;
    border-bottom: $inputBorderBottom;
    outline: 0;
    margin: 0 0 15px;

    &:invalid {
      box-shadow: $invalidBoxShadow;
    }

    &:disabled {
      background-color: $disabledBackgroundColor;
    }

    &:focus {
      border: none;
      border-bottom: $inputBorderBottom;
      box-shadow: none;

      &:invalid {
        box-shadow: $invalidBoxShadow;
      }
      &:disabled {
        background-color: $disabledBackgroundColor;
      }
    }

    &:focus,
    &.notEmpty:not(:focus),
    &:not(:empty) {
      ~ span {
        top: -11px;
        left: 0;
        bottom: 0;
        font-size: 11px;
        opacity: 1;
        color: black;
      }
    }

    ~ span {
      position: absolute;
      pointer-events: none;
      left: 10px;
      bottom: 10px;
      top: 7px;
      transition: 0.2s ease all;
      color: #626262;
    }
  }

  textarea {
    height: 10rem;
    //border: 1px solid rgba(136, 136, 136, 0.31);
    //box-shadow: 0 0 3px 2px hsla(0, 0%, 53%, .31) !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  [type='checkbox'].before-text {
    margin-bottom: 0;
  }
}

input[type='number'] {
  -moz-appearance: textfield;

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
