.place {
  .place-google-maps {
    min-width: 100%;
    min-height: 250px;
    height: 33vh;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &.small .place-google-maps {
    display: none;
  }

  .place-name a {
    white-space: initial;
  }

  .non-third-party-cookies-accepted-message {
    padding: 2rem 0.7rem;
    text-align: center;
    color: black;
    border: 1px solid $greyColor;
    border-radius: 3px;
  }
}

.place-query,
.place-name {
  &::placeholder {
    color: rgba(0, 0, 0, 0.65);
  }
}
