.podcast-info {
  .podcast-image-container {
    width: 5rem;
    margin: 0.2rem 0.5rem 0.2rem 0.2rem;
  }
}

#podcast-details {
  .admin-panel {
    float: initial;
    text-align: right;
  }

  #podcast-image-container {
    @include breakpoint(medium) {
      width: 8rem;
    }
    width: 6rem;
    margin-right: 1rem;

    #podcast-image {
      width: 100%;
    }
  }

  #name {
    margin-bottom: 0;
  }

  .release-circle,
  .duration {
    //font-size: small;
    color: $greyColor;
    display: inline-block;
  }

  #social-media-container {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;

    .button {
      font-weight: bold;

      @include breakpoint(small down) {
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        padding: 0.5rem 0.6rem;
        font-size: 0.7rem;
        width: 8rem;

        img {
          height: 1rem;
        }
      }

      @include breakpoint(smedium) {
        margin-right: 1rem;
        margin-left: 1rem;

        padding: 0.5rem 0.6rem;
        font-size: 0.7rem;
        width: 7rem;

        img {
          height: 1.5rem;
        }
      }

      @include breakpoint(medium) {
        padding: 0.6rem 0.8rem;
        font-size: 0.9rem;
        width: 9rem;

        img {
          height: 2rem;
        }
      }
    }
  }
}
