#search-heading {
  padding-top: 5rem;
  padding-bottom: 2rem;

  .search-container {
    //padding-left: 0.5rem;
    //padding-right: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 2rem;

    img {
      max-height: 100%;
      margin-left: 0.3rem;
    }

    input {
      border: none;
      height: 100%;
      margin: 0 0.2rem 0 0;
    }
  }
}

//#filter-event-tag-container{
//max-width: 100%;
//}

.filter-tag {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.4rem;
  border: 1px solid black;
  box-shadow: 0 0 1px 1px black;
  border-radius: 0.5rem;
  cursor: pointer;

  &.selected {
    border-color: #d56b52;
    box-shadow: 0 0 1px 1px #d56b52;
  }
}

.clearFilter {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  background: url('../img/icons/clearFilter512.png') no-repeat;
  background-size: contain;
  cursor: pointer;
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.2rem;
}

#search-button {
  float: right;
  border-radius: 0.5rem;
  border: 0;
  background-color: #d56b52;
  color: white;
  font-size: 1.2em;
  margin-top: 1rem;
}
