#toast-container {
  z-index: 10001;
  text-align: center;
  position: absolute;

  height: 91.5vh !important;
  width: 100%;
  overflow: visible !important;

  padding: 8.5vh 0 0 0;
  pointer-events: none;

  div.toast {
    position: relative;
    width: 100%;
    pointer-events: none;
    transition: opacity 0.25s;

    &.toast-template {
      visibility: hidden;
    }

    span.message {
      pointer-events: auto;
      font-size: 0.8rem;
      border-radius: 25px;
      letter-spacing: 0;

      z-index: 10001;
      max-width: 100%;
      display: inline-block;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);

      border: 1px solid #626262;
      background-color: #6b6b6b;
      padding: 0.3em 0.6em;
      text-align: center;

      color: white;
      //opacity: .9;

      &:hover {
        opacity: 0.4;
        cursor: pointer;
      }

      &:before,
      &:after {
        display: block;
        content: '';
      }
    }
  }
}
