<section class="podcast-info info-template">
    <div class="flex-container">
        <div class="podcast-image-container">
            <img class="podcast-image">
        </div>
        <div class="grow">
            <h3 class="name"></h3>
            <a class="link translation">Find out more</a>
        </div>
    </div>
</section>
<span data-view="../../../../node_modules/cordova-sites/dist/client/html/Framework/Fragment/alphabeticListFragment.html"></span>
